@model TodoWA.Models.Task
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Изменение задачи</title>
    <style>
        textarea {
            resize: none;
        }
    </style>
</head>
<body>
    <h3><a href="~/Home/Index">Назад</a></h3>
    <h3>Изменение задачи</h3>
    <form method="post">
        <table>
            <tr>
                <td>Заголовок:</td>
                <td><input type="text" name="Name" value="@Model.Name" /> </td>
            </tr>
            <tr>
                <td>Дата и время:</td>
                <td><input type="time" class="form-control" name="Time" value="@Model.Time" /><input type="date" class="form-control" name="Date" value="@Model.Date" /></td>
            </tr>
        </table>
        <label for="story">Описание:</label><br />
        <textarea id="story" name="Description" rows="5" cols="34">@Model.Description</textarea><br />
        <label>Состояние:</label>
        <input type="checkbox" name="IsDone" value="True" checked="@Model.IsDone" /><br />
        <input type="submit" value="Изменить" />
    </form>
</body>
</html>